__pycache__/
uploads/
.vscode/
.env

# Dependencies
.venv/
env/
venv/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Byte-compiled / Optimized / DLL files
*.pyc
*.pyo
*.pyd

# OS metadata
.DS_Store
Thumbs.db

# AI Agent
.agent/

